<div
  #scrollContainer
  class="vs-container"
  [attr.tabindex]="0"
  (scroll)="onScroll($event)"
  (keydown)="onKeyDown($event)"
>
  @if (headerTemplate()) {
    <div class="vs-header">
      <ng-container [ngTemplateOutlet]="headerTemplate()" />
    </div>
  }
  <div class="vs-spacer-top" [style.height.px]="topPadding()"></div>

  @for (item of visibleItems(); track item.id) {
    <div
      class="vs-item-wrapper"
      [class.vs-item--focused]="focusedIndex() === item._origIndex"
      [attr.data-index]="item._origIndex">
      @if (itemTemplate) {
        <ng-container
          [ngTemplateOutlet]="itemTemplate"
          [ngTemplateOutletContext]="{ $implicit: item, index: item._origIndex }"
        />
      }
    </div>
  }

  <div class="vs-spacer-bottom" [style.height.px]="bottomPadding()"></div>
</div>
